@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 12px;
  padding: 10px;
}
@media print {
  @page {
    size: A4 landscape;
    margin: -2.8em;
    padding: -2.8em;
  }

  .container {
    transform: scale(0.95);
    transform-origin: 50% 50%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  table {
    font-size: 10px;
    line-height: 9px;
    padding: 0;
    width: 40%;
  }
}
table,
td,
th {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}
.container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.sides {
  /* transform: scale(0.7); */
  border: 1px dotted blue;
  padding: 10px;
  min-width: 50%;
  margin-bottom: 20px;
}
