@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 12px;
  padding: 10px;
}
@media print {
  @page {
    size: A4 landscape;
    margin: -2.8em;
    /* padding: -2.8em; */
  }
  * {
    /* outline: 1px solid red */
  }
  .container {
    transform: scale(0.91);
    transform-origin: 50% 50%;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
  }
  table {
    font-size: 10px;
    line-height: 10px;
    padding: 0;
    width: 40%;
  }
}

table,
td,
th {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}
.container {
  min-width: 100vw;
  display: flex;
  justify-content: space-between;
}
.sides {
  padding: 20px;
  /* margin-bottom: 20px; */
}
