@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap');
*{
  margin:0,
  padding:0,
  box-sizing: border-box;

 
}

body{
  
font-family: 'Roboto', sans-serif;
 font-size: 12px;
 line-height:12px;
 padding:10px;
}
@media print{
  @page{
    size:A4 landscape;
    /* changes made on 8 june */
    margin: -5em;
    
  }

  .page{
    page-break-after:always;
  }
  
  body{
    /* changes made on 8 june */
    transform: scale(0.84);
    transform-origin:50% 50%;

    margin:0px;
    padding:0px;
    box-sizing:border-box;
  }

  #second-page:last-child{
    page-break-after:avoid;
}

.second {
  /* changes made on 8 june */
  font-size:8px;
  line-height:10px; 
}

.container-bottom{
  padding-bottom:20px;
 }
 
 .container-bottom p{
   font-size: 10px;
   font-weight:900;
  }
  
  .container-bottom h5{
    font-size: 10px;
    font-weight:900;
  }
  
  #myTable2 td{
  /* changes made on 8 june */
  padding: 8px 4px;
  font-size: 12px;
  } 

 #print-button{
  display:none;
 }
  
}


/* utlity styles */

table, td, th {
border: 1px solid;
text-align:center;

}

table{ 
width: 100%;
border-collapse: collapse;
font-size: 12px;

}

h2{
  text-align:center;
  text-decoration:underline;
}
h3{
  text-decoration:underline;
}

label {
  display: block;
  margin-bottom: 10px;
}

ol{
 margin-left:-12px;
}


/* classess */
.page{
 min-height:100vh;
width:100vdw;
 display:flex;
 flex-direction:column;
 justify-content:space-between;
 align-item:center;
 flex-wrap:wrap;
}

.container-top,
.container-bottom{

}

.container-top div,
.container-bottom div{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding: 0px 2px; */
  
}
.container-top span,
.container-bottom span{
  border-bottom: 1px solid black;
  display:inline-block;
  min-width: 30px;
  padding: 2px 10px;
  text-align:center;
  font-weight:800;
}
.container-bottom{
  /* border-bottom:1px solid black; */
}
.container-bottom .input-container{
  display:flex;
  align-items:center;
  line-height:0;
  width: 30%;
}
.input-container .text-space{
  display:inline-block;
}
.input-container .text-space p{
  padding-bottom:10px;
}
.input-container .input-space{
  width:50%;
}
