* {
  margin: 0;
}
@media print {
  @page {
    size: A4;
    size: landscape;
    margin: 0;
  }
  body {
    width: 297mm;
    height: 210mm;
  }

  .container-form {
    page-break-after: always;
  }
}

.container-form {
  width: auto;
  height: 100%;
  margin: 20px 10px;
  position: relative;
  padding: 5px;
  outline: 1px solid black;
}

.container-form h2 {
  text-align: center;
  text-decoration: underline;
}

.container-form p {
  margin-bottom: 5px;
  margin-top: 5px;
}

.container-form span {
  text-decoration: underline;
  margin: 0px 3px;
}

.container-form table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}
.container-form table th {
  font-size: 12px;
  text-decoration: underline;
}

.container-form td,
.container-form th {
  /* border: 1px solid black; */
  text-align: center;
  font-size: 12px;
}

.container-form h4 {
  text-align: center;
}

.container-form .center {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 5px;
  flex-wrap: wrap;
}
